.modal {
  opacity: 0.8;
}
.modal-title {
  color: var(--bg-nav); 
  font-family: var(--ff-text-card);
  font-size: 2.5em;
}
.modal-body {
  background:#c6c5d2;
  color:#000000;
  font-family: var(--ff-text-card);
  font-size: 1.5em;
  
}
#contain-links {
  display: flex;
  justify-content: space-between;
}
#contain-links .bt-link{
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--bg-nav);
 
  color:  #D1AE56;
}
#btn-foot {
  background: var(--bg-nav);
  color: #c6c5d2;
  border-radius: 15px;
  font-size: 1.5em;
}
.contain-links {
  display: flex;

}
.contain-links a {
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  /* padding: 0.3rem .5rem; */
}

