.modal {
  opacity: 0.8;
}
.modal-title {
  color: var(--bg-home);
  font-family: var(--ff-txt-hand-rw2);
  font-size: 2.5em;
}
.modal-body {
  background:var(--bg-home);
  color: #453324;
  font-family: var(--ff-txt-hand-rw2);
  font-size: 1.5em;
  
}
#btn-foot {
  background:var(--bg-home);
  color: #453324;
  font-family: var(--ff-txt-hand-rw2);
  font-size: 1.5em;
}
