.Contact {
	font-family: var(--ff-text-card);
	background-color: #fff;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

h3 {
	text-align: center;
	color: linear-gradient(to bottom, #fefefe, #c5c4d1, #8d8fa6, #545d7e, #163057);
}

/* Add styles to 'container' class */
.container#st {
	/* height: 100%; */
	width: 90%;
	max-width: 70rem;
	background-image: linear-gradient(to bottom, #fefefe, #c5c4d1, #8d8fa6, #545d7e, #163057);
	border-radius: 4px;
	box-shadow: -5px -5px 10px;
	padding-bottom: 3rem;
	margin: 10% auto ;
	/* margin-bottom: 20%; */
}

form {
	height: 85%;
	margin: 0;
	
}

label {
	font-size: 0.85em;
	margin-left: 1em;
	color: linear-gradient(to bottom, #fefefe, #c5c4d1, #8d8fa6, #545d7e, #163057);
	
}


input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 0.1rem;
    outline: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	/* resize: vertical; */
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	outline: 3px solid #64B5F6;
}

.center {
	text-align: center;
	
}

.btnc{
	
	background: #64B5F6;
	margin: 1 auto;
	outline: 0;
	color: linear-gradient(to bottom, #fefefe, #c5c4d1, #8d8fa6, #545d7e, #163057);
	border: 0;
	padding: .5rem 1.1rem;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); 
}

.btnc:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

.btnc:hover {
	background: #2196F3;
	box-shadow: 3px 3px 5px 6px #ccc;
	color: turquoise;
}
.contain-links .btn-link{
color: #fefefe;
outline: 2px solid #fefefe;
}
.contain-links .btn-link:hover {
	box-shadow: 3px 3px 5px 6px #ccc;
	color: #fff;
	background-color: turquoise;

}

