.FullHeight{
    min-height: 100vh;
}

.Fix {
    top: 20rem;
    
}

.underline {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin: 10px;
    position: relative;
}