.Home {
  background-color:var(--bg-home);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 38vh 0;
}

.txtName {
  font-size: clamp(2rem,5vw, 5rem);
  font-family: var(--ff-txt-hand-rw2);
  color: var(--txt-color-name-bar);
  text-align: center;

}

.txtDev {
  font-family: var(--ff-txt-hand-rw1);
  
  text-align: center;
  color: var(--txt-color-btn);
  font-size: clamp(1.5rem,3.5vw, 3.5rem);
  margin-bottom: 2rem;
}
.btns {
  display: flex;
}
.bt1 {
margin-right: auto;

}
.bt2 {
margin-left: auto;
margin-right: auto;
}
.bt3 {
margin-left: auto;

}

.bt{
  margin-right: 0.7rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background:var(--txt-color-name-bar);
  text-decoration: none;
  border-radius: 10px;
  color:  #D1AE56;
  font-family: var(--ff-txt-hand-rw2);
}
.bt:hover {
  background:#918936;

}
