@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg-nav: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); 
  --ff-txt-bar:'Charm', cursive;
  --ff-txt-hand-rw1:'Montez', cursive;

  --ff-txt-hand-rw2: 'Niconne', cursive;
  --ff-txt-portfolio:'Ultra', serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-txt-bar);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@media only screen and (max-width: 780px) {
  #st {
    
    position: sticky;
    top: 4rem;
  }
  }