@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montez&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@800&display=swap');
* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

:root {
  /* --bg-nav: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);  */
  --bg-nav:#163057;
  --bg-home:#82A3FF;
  --ff-txt-bar:'Charm', cursive;
  /* --ff-txt-hand-rw1:'Montez', cursive;
  --ff-txt-hand-rw2: 'Niconne', cursive; */
  --ff-txt-portfolio:'Ultra', serif;
  --ff-text-card:'Roboto Slab', serif;
  --ff-text-card2: 'Montserrat', sans-serif;
  --ff-text-name: 'Cinzel', serif;
  --ff-text-name2: 'Eczar', serif;
  
  --txt-color-btn: #D1AE56;
  --txt-color-btn2: #FFD15C;
  --txt-color-name: #453324;
  --txt-color-name-bar: #766151;
  --txt-color-work: #da9100;
  
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;

}
@media only screen and (max-width: 767px) {
  /* in App.js */
  .Container {
    margin-top: 4rem;
  }
  /* in Home.js */
  #exampleModal{
    left: 0;
    margin-right: 4rem;
    }
    .btns .bt {
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
    }
    #card {
      /* max-width: 20rem; */
     margin-left: 1rem;
     margin-right: 1rem;
    }

    .skills div {
      font-size: .6rem;
      /* padding: .1rem .2rem; */
      border-radius: 8px;
      margin-bottom: 1rem;
    }
}


@media only screen and (min-width: 768px) {
  /* in App.js */
  .Container {
    margin-left: 13rem;
  }
  /* in Home.js */
  #exampleModal{
    left: 6rem;
  }
  #home {
    padding: 38vh 0;
    }
 
}


/* #st {
   --bg-nav: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%) !important;
} */
