.NavbarTop {
    font-family: var(--ff-txt-card2);
    position: fixed;
    height: 4rem;
    background: var(--bg-nav); 
}
.menu-right {
    margin-left: auto;
}

#dropdownMenu2{
    background: var(--txt-color-name);
    border-radius: 25%;
    color: var(--txt-color-btn2);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); 
}
#dropdownMenu2:hover  {
    box-shadow: 3px 3px 5px 6px #ccc;
    background:#918936;
}
#hmenu {
    background:var(--bg-nav);

}
.txt-under-menu{
    font-family: var(--ff-txt-card2);
    color: var(--txt-color-btn2);
    text-decoration: none;
}
.txt-under-menu:hover {

    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 7px;
    color: azure;
    padding: 0 .7rem;
}
