.Project {
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, #fefefe, #fefefe, #ffffff, #ffffff, #ffffff);
}
.container-cards {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:3rem;

  
}

.card {
  width: 100%;
  max-width: 25rem;
  font-family: var(--ff-text-card2);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  
}
#card:hover {
 
  box-shadow: -5px -5px 10px;
}
.card-body {
  background: blanchedalmond;
  display: grid;

}
.btns-card {
display: flex;

}
.bt-card {
  display: inline-block;
  text-decoration: none;
  padding: 0.3rem 1rem;
  background-color: chocolate;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  color: white;
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); 
}
.bt-card:hover{
  background-color: var(--txt-color-name);
  color:rgb(26, 218, 218);
}

h4 {
  text-align: center;
}
.skills div {
  margin: 0 auto;
  background-color: #402e32;
  color: whitesmoke;
  padding: .3rem .5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
/* 
.tools {
  height: 16rem;
  background-image: linear-gradient(to bottom, #ffffff, #eae9ee, #d4d4dc, #bfbecc, #a9aabb, #a9aabb, #a9aabb, #a9aabb, #bfbecc, #d4d4dc, #eae9ee, #ffffff);
  padding: 6rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  outline:2px solid red;
  
}

#projects .tools > * {
  width: 2rem;
  box-shadow: 3px 3px 5px 6px #ccc;
	color: #fff;
	background-color: #7aa4ff;
  outline: 2px solid #fefefe;
  border: 2px solid red;
  
} */